<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Базы данных</title>
   <style>
       /* Добавьте стили по вашему усмотрению */
       body {
           font-family: Arial, sans-serif;
           margin: 0;
           padding: 0;
       }
       nav {
           display: flex;
           justify-content: space-between;
           background-color: rgb(47, 56, 177);
           padding: 10px;
       }

       nav a {
           color: #fff;
           text-decoration: none;
           padding: 10px;
       }
   </style>
</head>
<body>
	<nav>
		<a href="/lab5/spisok_article5">Посмотреть записи</a>
		<a href="/lab5/new_article5">Создать заметку</a>
		<a href="/lab5/login5">Логин</a>
		<a href="/lab5/register">Регистрация</a>
		<div>{{username}}</div>
		<a href="/lab5/logout">Выход</a>
	</nav>
</body>

</html>